[Unit]
Description=ROOT Firmware
After=network.target bluetooth.target

[Service]
Type=simple
User=root
WorkingDirectory=/home/observer
Environment="LD_LIBRARY_PATH=/usr/local/lib"
ExecStartPre=/usr/sbin/rfkill unblock bluetooth
ExecStart=/home/observer/root-firmware
Restart=always
RestartSec=10
CapabilityBoundingSet=CAP_NET_ADMIN CAP_NET_RAW
AmbientCapabilities=CAP_NET_ADMIN CAP_NET_RAW

[Install]
WantedBy=multi-user.target
